<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>

Preparing Voice Interview

</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='style.css') }}">

<meta
http-equiv="refresh"
content="4;url=/voice_session">

</head>

<body>

<section class="loading-page">

<div class="loading-content">

<div class="voice-loader">

🎙️

</div>

<h1>

Preparing Your Voice Interview

</h1>

<p>

Analyzing resume...

Generating questions...

Preparing AI interviewer...

</p>

<div class="loading-bar">

<div class="loading-fill"></div>

</div>

</div>

</section>

</body>

</html>