<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>

Analyzing Interview

</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='style.css') }}">

<meta
http-equiv="refresh"
content="4;url=/voice_feedback">

</head>

<body>

<section class="loading-page">

<div class="loading-content">

<div class="voice-loader">

🎙️

</div>

<h1>

Analyzing Your Interview

</h1>

<p>

Evaluating responses...

Analyzing communication...

Reviewing technical performance...

Generating final report...

</p>

<div class="loading-bar">

<div class="loading-fill">

</div>

</div>

</div>

</section>

<script>

setTimeout(() => {

    window.location.href =
    "/voice_feedback";

},3000);

</script>

</body>

</html>